@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(255, 255, 255);
$acid  : #33b642;
$acid-hover : #227e2d;
$font-color: rgb(46, 45, 45);
$roboto-slab: 'Roboto Slab', serif; 


//MIXINS
@mixin box-shadow($top, $left, $blur, $color) {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
}

@mixin flexbox(){
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

html {
   height: 100%;
}

body {
font-family: $font-stack;
background-color: $primary-color;
overflow:hidden;
}

.comp-flex{
  @include flexbox();
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: 'lato', sans-serif;
  width: 95vw;
  height: 75vh;
  flex-direction: column;
}

.acid-logo{
  width: 64px;
  height:64px;
}

.container {
  background:rgba(58,63,68,0.8);
  border-radius: 5px;
  @include box-shadow(0px, 5px, 4px, rgba(0, 0, 0, 0.1));
  width:100%;
  max-width:450px;
  margin: 1em;
  @include flexbox();  
  flex-direction: column;
}

.login-item {
	color: #ffff;
	padding:25px 25px 0;
	margin: 20px 20px 0;	
	border-radius: 3px;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.user:before {
  content: '\f007';
  font: 14px fontawesome;
	color: #5b5b5b;
}

.lock:before {
  content: '\f023';
  font: 14px fontawesome;
	color: #5b5b5b;
}

.form input[type="password"], .form input[type="email"], .form input[type="submit"] {
  width: 100%;
}

.form-login label,
.form-login input[type="email"],
.form-login input[type="password"],
.form-login input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
  color: #3A3F44;  
}

.form-login input[type="email"], .form-login input[type="password"] {
  background-color: #ffffff;
}
.form-login input[type="email"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {
  background-color: #eeeeee;
}
.form-login input[type="submit"] {
  background-color: $acid;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}

.form-login input[type="submit"]{
  &:disabled{
    opacity: 0.5;
  }
  &:hover:enabled{
    background-color: $acid-hover;
  }
}

.form-field {
  @include flexbox();
  margin-bottom: 2rem;
}

